* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}

.bg {
    background-image: url(/images/man.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.text-loading {
    font-size: 50px;
    color: rgb(150, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}